@use "variables";

.about {
    width: 80%;

    &__container {
        background-color: variables.$secondaryColor;
        height: fit-content;
        border-radius: 25px;
        display: flex;
        flex-direction: row-reverse;

        img {
            margin: 20px;
            border-radius: 25px;
            height: 500px;
            min-height: 300px;
            filter: grayscale(40%);
        }
    }

    &__name {
        text-align: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 700px) {
    .about{
        &__container {
            flex-direction: column;
            justify-content: center;
            
            img {
                height: 100px;
                object-fit: cover;
                object-position: top;
            }
        }

        &__text {
            align-self: center;
            margin-left: 0;

            p {
                margin-bottom: 20px;
            }
        }
    }
}