@use "variables";

.about {
    width: 80%;

    &__container {
        background-color: variables.$ColorNavBackground;
        height: fit-content;
        border-radius: 25px;
        display: flex;
        flex-direction: row-reverse;


        img {
            margin: 20px;
            border-radius: 25px;
            height: 30vw;
        }
    }

    &__text {
        width: 100%;
        margin: 20px;
        text-align: center;
    }
}