@use "variables";

.maestro {
    text-align: center;

    &__apps, &__lingo {
        
        width: 80%;

        img {
            background-color: darkgray;
            height: 80px;
            padding: 5px;
            border: 5px variables.$ColorNavBackground inset;
            transition-timing-function: linear;
            transition-duration: 0.1s;

            &:hover {
                transform: scale(130%);
            }
        }
    }

    hr {
        margin: 10px 0;
        border: 2px solid white;
        border-radius: 25px;
    }
}