@use "variables";

.maestro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    &__apps, &__lingo {

        img {
            background-color: darkgray; // exception because it looks better with a lighter color
            height: 20vw;
            max-height: 100px;
            padding: 5px;
            border: 5px variables.$secondaryColor inset;
            transition-timing-function: linear;
            transition-duration: 0.1s;

            &:hover {
                transform: scale(130%);
            }
        }
    }

    hr {
        margin: 10px 0;
        border: 2px solid variables.$textColor;
        border-radius: 25px;
        width: 80%;
    }
}