@use "variables";

.title404 {
    margin-top: 20px;
}

.img404 {
    width: 60%;
    max-height: 600px;
    object-fit: cover;
    object-position: top;
    border: 2px solid variables.$textColor;
    border-radius: 25px;
    margin: 20px 0;
}

.text404 {
    width: fit-content;
    margin: 20px 0;
}