@use "variables";

.sorting {
    width: 80%;
    text-align: center;


    &__holder {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__genre {
        width: fit-content;
        height: fit-content;
        margin: 5px;
        padding: 5px 10px;
        border: 2px variables.$textColor solid;
        border-radius: 25px;
        text-align: center;
        transition: 0.2s;
        user-select: none;
        order: 2;
        white-space: nowrap;

        &-min {
            display: none;
        }

        &:hover {
            background-color: variables.$textColor;
            color: variables.$primaryColor;
        } 
    }

    &__arrow {
        color: variables.$LinkColor;
    }
}

.toggled {
            order: 1;
            background-color: variables.$textColor;
            color: variables.$primaryColor;
}

#all {
    order: 1;
}