@use "variables";



.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 5vw;
    padding-bottom: 20px;
    min-height: 100px;

    &__mailHolder, &__github{

        a {
            text-decoration: none;
        }

        hr {
            border: 2px solid variables.$primaryColor;
            width: 0px;
            transition-duration: 1s;
            margin: auto;
        }

        &:hover hr {
            border: 2px solid variables.$textColor;
            width: 100%;    
        }

    }
}