@use "variables";



.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 5vw;
    min-height: calc(50px + 10vw);
    margin: 20px 0;

    &__mailHolder, &__github, &__linkedin {

        a {
            text-decoration: none;
        }

        hr {
            border: 2px solid variables.$primaryColor;
            width: 0px;
            transition-duration: 1s;
            margin: auto;
        }

        &:hover hr {
            border: 2px solid variables.$textColor;
            width: 100%;    
        }

    }
}