@use "variables";

.news {
    width: 80%;
    &__title {
        text-align: center;
    }

    &__swiper {
        height: fit-content;



        &__slide {
            
            border-radius: 25px;
            overflow: hidden;

            img {
                width: 100%;
            }

            video {
                width: 100%;
            }

            a {
                position: relative;
            }
        }

        &__arrow {
            color: variables.$textColor;
        }

        &__text {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 20px;
        }
    }

    &__text {
       // background-color: rgba(variables.$primaryColor, 0.5);
        background-image: linear-gradient(to right, rgba(white, 0), rgba(variables.$primaryColor, 0.5)  50%, rgba(white, 0));
    }
}
.swiper-pagination-bullet-active {
    background-color: variables.$textColor;
}


@media screen {
    /*remove the arrows*/
}