@use "variables";

.projects {
    width: 80%;
    text-align: center;

    &__all {
        display: flex;
        flex-direction: column;

    }

    &__element {
        position: relative;
        height: fit-content;
        overflow: hidden;
        border: 2px white solid;
        border-radius: 25px;
        margin: 10px 0;

        &:hover &__preview {
            filter: blur(0px);
        }

        &__preview {
            width: 100%;
            filter: blur(4px);
            transition-duration: 1s;
        }

        &__title {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: fit-content;
            width: fit-content;
        }

        &__tagHolder {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center; //dunno if it looks good...
            align-items: center;
            background-color: rgba(0, 0, 0, 0.671);
        }

    }
}