@use "variables";

.mainContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__frame { //for MH iframe especially
        width: 100%;
        height: 1100px;
        border: solid 2px variables.$textColor;
        border-radius: 25px;
        overflow: hidden;
    }

    &__text {
        margin: 20px 10px;
    }

    &__video {
        width: 100%;
        border: 2px solid variables.$textColor;
        border-radius: 25px;
    }

    &__image, &__mainImage {
        width: 100%;
        border: 2px solid variables.$textColor;
        border-radius: 25px;
        margin: 20px 0;
    }

    &__mainMedia {
        width: 100%;
    }
}