@use "partials/Navbar";
@use "partials/hero";
@use "partials/about";
@use "partials/apps";
@use "partials/filter";
@use "partials/projectsSection";
@use "partials/projectPage";
@use "partials/footer";



* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

html {
    min-width: 200px;
}

body {
    background-color: black;
    min-width: 200px;
    height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}

section {
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
}