.nav {
  background-color: rgb(48, 48, 48);
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav__linkHolder {
  text-align: center;
  margin: 10px 20px;
}
.nav__link {
  display: inline;
  white-space: nowrap;
  color: white;
}
.nav__link:hover {
  color: greenyellow;
}
.nav a {
  text-decoration: none;
  margin: 0 10px;
}

.news {
  width: 80%;
}
.news__title {
  text-align: center;
}
.news__swiper {
  height: -moz-fit-content;
  height: fit-content;
}
.news__swiper__slide {
  border-radius: 25px;
  overflow: hidden;
}
.news__swiper__slide img {
  width: 100%;
}
.news__swiper__slide video {
  width: 100%;
}
.news__swiper__slide a {
  position: relative;
}
.news__swiper__arrow {
  color: white;
}
.news__swiper__text {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.about {
  width: 80%;
}
.about__container {
  background-color: rgb(48, 48, 48);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px;
  display: flex;
  flex-direction: row-reverse;
}
.about__container img {
  margin: 20px;
  border-radius: 25px;
  height: 30vw;
}
.about__text {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.maestro {
  text-align: center;
}
.maestro__apps, .maestro__lingo {
  width: 80%;
}
.maestro__apps img, .maestro__lingo img {
  background-color: darkgray;
  height: 80px;
  padding: 5px;
  border: 5px rgb(48, 48, 48) inset;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}
.maestro__apps img:hover, .maestro__lingo img:hover {
  transform: scale(130%);
}
.maestro hr {
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 25px;
}

.sorting {
  width: 80%;
  text-align: center;
}
.sorting__holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sorting__genre {
  min-width: 40px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px;
  padding: 5px;
  border: 2px white solid;
  border-radius: 25px;
  text-align: center;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sorting__genre:hover {
  background-color: white;
  color: black;
}

.projects {
  width: 80%;
  text-align: center;
}
.projects__all {
  display: flex;
  flex-direction: column;
}
.projects__element {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  border: 2px white solid;
  border-radius: 25px;
  margin: 10px 0;
}
.projects__element:hover .projects__element__preview {
  filter: blur(0px);
}
.projects__element__preview {
  width: 100%;
  filter: blur(4px);
  transition-duration: 1s;
}
.projects__element__title {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.projects__element__tagHolder {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.671);
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 5vw;
}
.foot__mailHolder a {
  text-decoration: none;
}
.foot__mailHolder hr {
  border: 2px solid black;
  width: 0px;
  transition-duration: 1s;
  margin: auto;
}
.foot__mailHolder:hover hr {
  border: 2px solid white;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

html {
  min-width: 200px;
}

body {
  background-color: black;
  min-width: 200px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}

section {
  margin: 20px 0;
}

h2 {
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */