@use "partials/Navbar";
@use "partials/hero";
@use "partials/about";
@use "partials/apps";
@use "partials/filter";
@use "partials/projectsSection";
@use "partials/projectPage";
@use "partials/linkUp";
@use "partials/footer";

@use "partials/variables";

* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

html {
    min-width: 200px;
}

body {
    background-color: black;
    min-width: 200px;
    height: 100vh;
    overflow-x: hidden;
    cursor: url("./Assets/cursor/default.png"), auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}

section {
    margin: 20px 0;
}

h1 {
    font-size: calc(20px + 1vw);
    font-family: variables.$titleFont;
    letter-spacing: 0.2vw;
}

h2 {
    margin-bottom: 10px;
    font-size: calc(18px + 1vw);
    font-family: variables.$titleFont;
    letter-spacing: 0.2vw;
}

h3 {
    margin-bottom: 10px;
    font-size: calc(16px + 1vw);
    font-family: variables.$titleFont;
    letter-spacing: 0.2vw;
}

p {
    font-size: calc(12px + 1vw);
    font-family: variables.$textFont;
}

a{
    cursor: url("./Assets/cursor/pointer.png"), auto;
    font-size:calc(12px + 1vw);
    font-family: variables.$textFont;

    &:hover {
        color: greenyellow;
    }
}

.project {
    cursor: url("./Assets/cursor/pointer.png"), auto;
}

.hidden {
    display: none;
}